.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 350px;
  background-color: #fff;
  height: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* main {
    margin-top: 70px;
    min-height: calc(100vh - 70px);
} */

.header-left {
  display: flex;
  align-items: center;
}

.app-title {
  color: #000000;
  font-size: 24px;
  font-weight: 800;
}

.header-center.glass-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #f0f2f5;
  border-radius: 30px;
  padding: 5px;
  width: fit-content;
}

.nav-item {
  text-decoration: none;
  color: #888;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.nav-item.active {
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-item:hover:not(.active) {
  color: #555;
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.login-button,
.register-button,
.logout-button {
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.login-button {
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
}

.login-button:hover {
  background-color: #f5f5f5;
  border-color: #bbb;
}

.logout-button {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
}

.logout-button:hover {
  background-color: #000;
  border-color: #000;
}

.register-button {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
}

.register-button:hover {
  background-color: #000;
  border-color: #000;
}
